@model IEnumerable<HRsmartWeb.Models.CandidateViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyTemplate.cshtml";

}

<div class="item">
    <img src="@Url.Content("~/Content/MyTemplate/images/")banner4.png" alt="slider" title="slider" class="img-responsive" />
    <div class="slide-detail">
        <div class="container">
            <div class="slider-caption">
                <div class="off"></div>

                <div class="col-md-4 col-sm-4 col-xs-12 paddright">

                </div>

            </div>
        </div>
    </div>
</div>
<!-- jobs start here -->
@*<div id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">


                <!-- about-content start here -->
                <div class="jobs-content">
                    <h1> Recommandations List </h1>

                    <ul class="list-inline">
                        <li>
                            <a>Home</a>
                        </li>
                        <li>></li>
                        <li>
                            <a> Recommandations List</a>
                        </li>
                    </ul>
                </div>
                <!-- jobs-content end here -->
            </div>
        </div>
    </div>
</div>
<!-- jobs end here -->*@




<div id="featured">
    <div class="container">
        <div class="row">
            <!-- featured-jobs start here -->
            <div class="featured-jobs">
                <h1>Recommandations List</h1>
                <div class="border"></div>
                <div class="border1"></div>
            </div>
            <!-- featured-jobs end here -->
            <div class="col-md-10 col-sm-12 col-xs-12">

                <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    td, th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                </style>
                <table class=nth-child()>
                    <thead>
                        <tr>

                            <th style="color:cornflowerblue">Job Title      </th>
                            <th style="color:cornflowerblue">First Name</th>
                            <th style="color:cornflowerblue">Last Name</th>
                            <th style="color:cornflowerblue">Email</th>
                            <th style="color:cornflowerblue">Contact Number</th>
                            <th style="color:cornflowerblue">LinkedIn Profile</th>
                            <th style="color:cornflowerblue">Recommandation</th>
                            <th style="color:cornflowerblue">Details</th>
                            <th style="color:cornflowerblue">Create interview</th>
                            <th style="color:cornflowerblue">Decline recommandation</th>

                        </tr>
                    </thead>



                    @foreach (var item in ViewBag.result)
                    {
                        <tr>
                            <td>
                                @item.JobOffer.JobTitle
                            </td>


                            <td>
                                @item.FirstName
                            </td>

                            <td>
                                @item.LastName
                            </td>


                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.ContactNumber
                            </td>

                            <td>
                                @item.LinkedInProfile
                            </td>

                            <td>
                                @item.Recommandations
                            </td>


                            <td>


                                @Html.ActionLink("Details ", "Details", new { id = item.CandidateId }, htmlAttributes: new { @class = "btn btn-primary btnus", data_toggle = "modal", data_target = "#myModal", @style = "color:white" })
                            </td>
                            <td>
                                @Html.ActionLink("Create Interview", "Create", "Interview", new { id = item.CandidateId }, new { @class = "btn btn-info", @style = "color:white" })
                            </td>

                            <td>
                                @Html.ActionLink("Decline Recommandation ", "Delete", new { id = item.CandidateId }, new { @class = "btn btn-danger", @style = "color:white", data_toggle = "modal", data_target = "#myModal" })

                            </td>

                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-body">
                <a href="~/Views/Candidate/Index.cshtml">~/Views/Candidate/Index.cshtml</a>

                <a class="custom-close"> My Custom Close Link </a>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>


$(function () {
    $(".custom-close").on('click', function() {
        $('#myModal').modal('hide');
    });
});</script>