
@model HRsmartWeb.Models.InterviewViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;

}


<div>
    <fieldset>
        <center> <h4>Detailed informations of the recommandation</h4></center>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Subject :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                Description :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Start Date  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                End Date  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                HR Interview Result  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResultHRInterview)
            </dd>

            <dt>
                Technical Interview Result  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResultTechnicalInterview)
            </dd>

            <dt>
                IQ Interview Result  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResultQIInterview)
            </dd>

            <dt>
                SoftSkills Interview Result  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResultSoftSkillsInterview)
            </dd>

            <dt>
                FeedBack  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FeedBack)
            </dd>

        </dl>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" align="center">
                <input type="submit" width:130px value="Delete Interview" class="btn btn-primary btnus" ," />




            </div>
        }
        <div>

            .
        </div>
        <div>

            .
        </div>
    </fieldset>
</div>
